<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179262260265-8t31nadsaji0ovrjdr90n7g7uqvalg03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179262260265-8t31nadsaji0ovrjdr90n7g7uqvalg03</string>
	<key>API_KEY</key>
	<string>AIzaSyCzcp2Roz46TmYhU3K4R0AOFkyEAXeLOzc</string>
	<key>GCM_SENDER_ID</key>
	<string>179262260265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quizapp.mzulfaas.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-ed835</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-ed835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179262260265:ios:369555c12056a2ffe58838</string>
</dict>
</plist>